<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>Alphabet Quiz</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <div class="que">
      <img class="questions" id="question1" src="https://media2.giphy.com/media/glJdAXojfP3wPEg84a/giphy.gif?cid=ecf05e473nwit7qo6mw5fivap0qjc893cayawu3yoa2oyfdf&rid=giphy.gif&ct=g" alt="">
      <ion-card-subtitle class="Audio">
        <audio controls>
          <source src="../../../assets/questions/how many fingers.mp3" type="audio/mp3" />
        </audio>
      </ion-card-subtitle>
      <ion-grid>

        <ion-row>
          <input type="radio" name="answer1" value="wrong" />
          <ion-col>
            <img src="https://media4.giphy.com/media/h5WehVcg3HN9U7yBSf/200w.webp?cid=ecf05e47yb72l3q1hluwr27ivhpac282nm3clieoghf7agzu&rid=200w.webp&ct=g" alt="apple" />
          </ion-col>
          <input type="radio" name="answer1" value="wrong" />
          <ion-col>
            <img src="https://media3.giphy.com/media/toKE0zZrzkjuLKBucs/200w.webp?cid=ecf05e47yb72l3q1hluwr27ivhpac282nm3clieoghf7agzu&rid=200w.webp&ct=g" alt="apple" />
          </ion-col>
        </ion-row>

        <ion-row>
          <input type="radio" name="answer1" value="wrong" />
          <ion-col>
            <img src="https://media4.giphy.com/media/3ov9kaW3wyiefU3GGA/200w.webp?cid=ecf05e47yb72l3q1hluwr27ivhpac282nm3clieoghf7agzu&rid=200w.webp&ct=g" alt="apple" />
          </ion-col>
          <input type="radio" name="answer1" value="correct" />
          <ion-col>
            <img src="https://media0.giphy.com/media/nYBofDEU13PNcgX5rs/200w.webp?cid=ecf05e47yb72l3q1hluwr27ivhpac282nm3clieoghf7agzu&rid=200w.webp&ct=g" alt="apple" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>

  <ion-card>
    <div class="que">
      
      <img class="questions" id="question2" src="https://media1.giphy.com/media/1rRTuQjCh42xUEQyie/giphy.gif" alt="">
      <ion-card-subtitle class="Audio">
        <audio controls>
          <source src="../../../assets/questions/how many ducks.mp3" type="audio/mp3" />
        </audio>
      </ion-card-subtitle>
      <ion-grid>
        <ion-row>
          <input type="radio" name="answer2" value="correct" />
          <ion-col>
            <img src="https://media1.giphy.com/media/TGZGQrsDlwuOgqcwtJ/200w.webp?cid=ecf05e47io6qd5n6t17a0xuprabw6ey4y8ygrk13617rwsa6&rid=200w.webp&ct=g" alt="apple" />
          </ion-col>
          <input type="radio" name="answer2" value="wrong" />
          <ion-col>
            <img src="https://media1.giphy.com/media/f7Wfo9JZ1CqE1dMbkT/200w.webp?cid=ecf05e47io6qd5n6t17a0xuprabw6ey4y8ygrk13617rwsa6&rid=200w.webp&ct=g" alt="apple" />
          </ion-col>
        </ion-row>

        <ion-row>
          <input type="radio" name="answer2" value="wrong" />
          <ion-col>
            <img src="https://media2.giphy.com/media/iaWU5CQcypYyTUczfm/200w.webp?cid=ecf05e47io6qd5n6t17a0xuprabw6ey4y8ygrk13617rwsa6&rid=200w.webp&ct=g" alt="apple" />
          </ion-col>
          <input type="radio" name="answer2" value="wrong" />
          <ion-col>
            <img src="https://media4.giphy.com/media/Po975cfAAm2nezmqMm/200w.webp?cid=ecf05e47io6qd5n6t17a0xuprabw6ey4y8ygrk13617rwsa6&rid=200w.webp&ct=g" alt="apple" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>

  <ion-card>
    <div class="que">
      <img class="questions" id="question3" src="https://media1.giphy.com/media/yHH1hPHK5uxxmb8ezh/giphy.gif?cid=ecf05e47amnzqljon1er9o2vrlj9bxckchxw8hbin2n6grfq&rid=giphy.gif&ct=g" alt="">
      <ion-card-subtitle class="Audio">
        <audio controls>
          <source src="../../../assets/questions/what number is.mp3" type="audio/mp3" />
        </audio>
      </ion-card-subtitle>
      <ion-grid>
        <ion-row>
          <input type="radio" name="answer3" value="correct" />
          <ion-col>
            <ion-card-subtitle class="Audio">
              <audio controls>
                <source src="../../../assets/sounds/10.mp3" type="audio/mp3" />
              </audio>
            </ion-card-subtitle>
          </ion-col>
          <input type="radio" name="answer3" value="wrong" />
          <ion-col>
            <ion-card-subtitle class="Audio">
              <audio controls>
                <source src="../../../assets/sounds/5.mp3" type="audio/mp3" />
              </audio>
            </ion-card-subtitle>
          </ion-col>
        </ion-row>
        <ion-row>
          <input type="radio" name="answer3" value="wrong" />
          <ion-col>
            <ion-card-subtitle class="Audio">
              <audio controls>
                <source src="../../../assets/sounds/9.mp3" type="audio/mp3" />
              </audio>
            </ion-card-subtitle>
          </ion-col>
          <input type="radio" name="answer3" value="wrong" />
          <ion-col>
            <ion-card-subtitle class="Audio">
              <audio controls>
                <source src="../../../assets/sounds/0.mp3" type="audio/mp3" />
              </audio>
            </ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>


    <button  class="submit"
    (click)="getResults();"
    type="submit">Submit</button>

  <ion-card>
    <h2 id="results-h">Result</h2>
    <div id="results">
      <p id="right">Total Correct Answers</p>
      <p id="wrong">Total Wrong Answers</p>
    </div>
  </ion-card>
</ion-content>
