<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <img src="../../assets/icon/kid.png" alt="">
      <ion-label>Learn</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <img src="../../assets/icon/pencil.png" alt="">
      <ion-label>Practice</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <img src="../../assets/icon/podium.png" alt="">
      <ion-label>Leaderboard</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
