*
{
  background-color: black;
}

ion-card-header{
  text-align: center;
}
ion-menu-button{

  color: white;
}
.container{
  padding: 0px;
  margin: 0px;
  text-align: center;
}
ion-card{
  background-color: darkslategray;
}
ion-title{
  background-color:gray;
}