<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-toggle menu="main-menu" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-menu-toggle>
    <ion-title style="color: black;">
      Practice
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <ion-card routerLink="numbers">
    <ion-card-header>
      <h1>Quiz 1</h1>
      <!-- <ion-card-title><img src="../../assets/icon/numbers.png" alt=""></ion-card-title> -->
      <ion-card-title><img src="../../assets/images/quiz1pic.jpeg" alt=""></ion-card-title>
      <ion-card-subtitle><strong>Numbers</strong> </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  
  <ion-card routerLink="alphabet">
    <ion-card-header>
      <h1>Quiz 2</h1>
      <!-- <ion-card-title><img src="../../assets/icon/abc.png" alt=""></ion-card-title> -->
      <ion-card-title><img src="../../assets/images/quiz2.jfif" alt=""></ion-card-title>
      <ion-card-subtitle><strong>Alphabets</strong> </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  
  
  
  

</ion-content>
