<ion-header>

  <ion-toolbar>

    <ion-menu-toggle menu="main-menu" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-menu-toggle>

    <ion-title class="tracking-in-contract">My Profile</ion-title>

  </ion-toolbar>

</ion-header>

 

<ion-content>

  <div class="box">

    <img class="pic" src="../../assets/images/c2.jpg">

    <ion-card class="crd">

      <p class="name">Vyanky Wable</p>

      <p class="age">6 years old</p>

 

    </ion-card>

    <br>

    <ion-card class="crd2">

      <ion-card-title style="color: black;font-size:larger ;" class="t">More about me</ion-card-title>

      <p class="parents" style="font-size: 150%;">Hello! My name is Vynaki.

        I lived in Mumbai, Maharashtra. My Father is a Cleark in primary school and my mother is a homemaker.

        I am in kindergarten. I love cycling as a sports.</p>

 

    </ion-card>

 

  </div>

</ion-content>
