
.ion-border{
  border: 1px solid rgb(225, 220, 220);
  padding: 0;
}


ion-col{
  width: auto;
  height: auto;
  text-align: center;
  border: 1px solid rgb(69, 61, 61);
}

body{
  background-color: rgb(2, 8, 8);
}