<ion-header>
  <ion-toolbar>
    <ion-title>shapes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


<ion-card *ngFor="let sh of Shapes;let i=index;">
  <ion-card-header>
    <ion-card-title>{{sh.name}}</ion-card-title>
    <ion-card-subtitle>
      <audio controls>
        <source src="{{sh.sound}}" type="audio/mp3">
      </audio>
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <img id="{{sh.name}}" src="{{sh.image}}" alt="{{sh.name}}">
  </ion-card-content>
</ion-card>

</ion-content>
